/* Mural.css */

.mural {
    /* margin-left: 250px; */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 250px;
    padding: 4px
  }
  
  .mural img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
  }
  
  .mural h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #1eedf1;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  

  .mural:hover img {
    filter: brightness(80%);
  }
  
  