
form{
    text-align: center;
}
label{
    color:rgb(3, 71, 168);
    font-size: 18px;
}
input{
    padding: 5px 0px;
    width: 60%;
    text-align: center;
    height: 28px;
    font-size: 18px;
    margin-top: 3px;
}

.label-input{
    margin: 15px 0;
}

.description-input{
    height: 100px;
    /* white-space: normal; */
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */
}

.large-image{
    width:50%;
    height: auto;
}
